.show-header-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
  & img {
    width: auto;
    height: 100%;
    transform: translateX(-50%);
    -webkit-font-smoothing: antialiased;
    margin-left: 50%;
  }

  & .show-information {
    position: absolute;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    top: 50%;
    left: 50px;
    width: 90%;
    color: #fff;

    & .show-exp {
      color: #ff851b;
      font-weight: 400;
    }

    & .show-name {
      font-size: 4rem;
      margin: 5px 0px;
    }

    & .show-genres {
      font-size: 1.5rem;
      font-weight: 500;
    }

    & .show-summary {
      font-weight: 300;
      line-height: 1rem;
    }

    & .show-add {
      margin-top: 10px;
    }
  }
}
.episode-selection {
  background: #f8f8f8;
  width: 100%;
  min-height: 100vh;
  z-index: 2;

  & .show-season-container {
    padding: 15px;

    & h3 {
      margin: 0;
    }

    & .show-episode-container {
      padding: 0px 10px;
      margin-top: 10px;
      & .show-image-container {
        position: relative;

        & img {
          z-index: 1;
        }
        & .watchedshow {
          position: absolute;
          top: -24px;
          left: 0;
          bottom: 0;
          z-index: 2;
          text-align: center;
          background-color: #ff851b;
          opacity: .5;
          width: calc(100% + 48px);
          margin: 0 -24px 16px -24px;
          & .watched {
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            position: absolute;
            font-size: 60px;
            width: 60px;
            height: 60px;
          }
        }
      }
      & .show-episode-image {
         & img {
           width: 100%;
           height: auto;
         }
      }

      & .show-episode-info {

      }
    }
  }
}
