<div class="loading-container" *ngIf="!featured">
  <md-spinner></md-spinner>
</div>
<!-- featured -->
<div class="ll-home-slide featured" *ngIf="featured">
  <div class="ll-slide-header">
    LoungeLobby's Featured Shows
  </div>
  <div class="ll-slide-body">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="featureConfig">
      <div ngxSlickItem *ngFor="let show of featured" class="slide">
        <a  routerLink="/show/{{show.id}}" routerLinkActive="active" style="display: block">
          <div class="ll-slide-image">
            <img src="{{ show.poster_path }}" alt="" width="100%">
          </div>
        </a>
      </div>
    </ngx-slick>
  </div>
</div>

<!-- recently added -->
<div class="ll-home-slide" *ngIf="airing">
  <div class="ll-slide-header">
    Recently Added
  </div>
  <div class="ll-slide-body bll-body">
    <div fxLayout="row" fxLayoutGap="0px" fxLayoutWrap>
      <div fxFlex="20%" fxFlex.lt-md="33%" *ngFor="let show of airing" class="bll-show-container">
        <a routerLink="/show/{{show.id}}" routerLinkActive="active" style="display: block">
          <div class="image">
            <img src="{{show.poster_path}}" alt="Watch {{show.name}} Online" title="Watch {{show.name}} Online free at LoungeLobby">
          </div>
          <div class="info">
            <div class="title">{{show.name}}</div>
            <div class="date">{{show.first_air_date.substring(0,4)}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- my shows -->


<!-- trending -->

<!--<div class="ll-home-slide">
  <div class="ll-slide-header">
    Trending
  </div>
  <div class="ll-slide-body">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let show of trending" class="slide">
        <a  routerLink="/show/{{show.id}}" routerLinkActive="active" style="display: block">
          <div class="ll-slide-image">
            <img src="{{ show.backdrop_path }}" alt="" width="100%">
          </div>
          <div class="ll-slide-ibody">
            <h3>{{show.name}}</h3>
            <div class="ll-slide-info">
              <div class="info-rating">{{show.vote_average}}/10</div>
              <div class="info-year">{{show.first_air_date.substring(0,4)}}</div>
              <div class="info-summary">{{show.overview}}</div>
            </div>
          </div>
        </a>
      </div>
    </ngx-slick>
  </div>
</div>-->

<!-- Recently Added -->
<!--<div class="ll-home-slide">
  <div class="ll-slide-header">
    Recently Added
  </div>
  <div class="ll-slide-body">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let show of airing" class="slide">
        <a  routerLink="/show/{{show.id}}" routerLinkActive="active" style="display: block">
          <div class="ll-slide-image">
            <img src="{{ show.backdrop_path }}" alt="" width="100%">
          </div>
          <div class="ll-slide-ibody">
            <h3>{{show.name}}</h3>
            <div class="ll-slide-info">
              <div class="info-rating">{{show.vote_average}}/10</div>
              <div class="info-year">{{show.first_air_date.substring(0,4)}}</div>
              <div class="info-summary">{{show.overview}}</div>
            </div>
          </div>
        </a>
      </div>
    </ngx-slick>
  </div>
</div>-->

<!-- Discover -->

<!--<md-grid-list cols="6" rowHeight="100%" gutterSize="10px">
  <md-grid-tile
      *ngFor="let show of trending"
      [colspan]="2"
      [rowspan]="1">

      <md-card class="ll-show-card">
        <img md-card-image src="{{show.backdrop_path}}">
        <md-card-content>
          {{show.name}}
        </md-card-content>
      </md-card>

  </md-grid-tile>
</md-grid-list>-->
