<div class="loading-container" *ngIf="!videosrc">
  <md-spinner></md-spinner>
</div>
<div class="ll-watch-container" *ngIf="videosrc">
  <ng2-adsense style="padding: 10px 0px"></ng2-adsense>
  <md-card>
    <div md-card-image class="ll-video-player">
      <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls [vgAutohide]="true" [vgAutohideTime]="3">
            <vg-play-pause></vg-play-pause>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
            <source src="{{videosrc.link}}" type="video/mp4">
        </video>
      </vg-player>
    </div>
    <md-card-actions>
      <a md-button routerLink="/show/{{showId}}" routerLinkActive="active">Return to Show Page</a>
    </md-card-actions>
  </md-card>
  <ng2-adsense style="padding: 10px 0px"></ng2-adsense>
</div>
