<div class="sidebar-container">
  <div class="sidebar-header">
    <h1>LoungeLobby<span>.</span></h1>
  </div>
  <div class="sidebar-navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="/myshows" routerLinkActive="active" *ngIf="loggedIn == true">My Shows</a></li>
      <li class="divider"></li>
      <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QD3KQAJYLZSL2" target="_blank">Donate</a></li>
      <li><a href="https://www.patreon.com/loungelobby" target="_blank">Donate Monthly</a></li>
      <li><a href="https://www.facebook.com/loungelobby/" target="_blank">Facebook</a></li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul *ngIf="loggedIn == false">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
    <ul *ngIf="loggedIn == true">
      <li><a routerLink="/." routerLinkActive="active">My Account (Coming Soon)</a></li>
      <li><a (click)="logout()" routerLink="." routerLinkActive="active">Logout</a></li>
    </ul>
  </div>
</div>
