<div class="sidebar-container">
  <div class="sidebar-header">
    <h1>LoungeLobby<span>.</span></h1>
  </div>
  <div class="sidebar-navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a href="#!">Discover</a></li>
      <li><a href="#!">Popular</a></li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul *ngIf="loggedIn == false">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
    <ul *ngIf="loggedIn == true">
      <li><a routerLink="/login" routerLinkActive="active">My Account</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Logout</a></li>
    </ul>
  </div>
</div>
